<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

{% block content%}

<form class="form-signin" method="post">{% csrf_token %}


  ID <br>
  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <br>
    PassWord <br>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

  {% for field in login_form %}
      <p>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
  {% endfor %}
  {% if login_form.non_field_errors %}
    <div style="color: red">
      <p>{{login_form.non_field_errors}}</p>
    </div>

  {% endif %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button><br>
     <!--<a href="{% url 'account:signup' %}"><button type="submit">Sign up</button></a>-->
    <a href="{% url 'register'%}"><button type="submit">Sign up</button></a>
</form>

<!--
 onclick="location.href={% url 'account:signup' %}"
-->
{% endblock content%}
</body>
</html>